    body {
        margin: 0px;
        background: peru;
    }
    
    h1 {
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-family: Stencil;
        margin-bottom: 0px;
    }
    
    p {
        color: black;
        font-size: 21px;
        font-weight: bold;
        font-family: Verdana;
    }
    
    .circle {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0px;
    }
    
    .center {
        width: 900px;
        height: 100%;
        position: relative;
        margin: auto;
    }
    /*
.luta{
    width: 100px;
    height: 100px;
    position: absolute;
    margin:5px;
    top:50px;
    border:1px solid #f00;

}
.ninja1{left: 50px;}
.ninja2{left: 153px}
.ninja3{left:253px;}
.ninja4{left:353px;}
.ninja5{left:455px;}
.ninja6{left:556px;}
.ninja7{left:656px;}
.ninja8{left:757px;}
*/
    
    #naruto {
        cursor: pointer;
        background: #099;
    }
    
    #naruto:hover {
        background: yellow;
    }
    
    #sasuke {
        cursor: pointer;
        background: #099;
    }
    
    #sasuke:hover {
        background: yellow;
    }
    
    #sakura {
        background: #099;
        cursor: pointer;
    }
    
    #sakura:hover {
        background: yellow;
    }
    
    #kakashi {
        background: #099;
        cursor: pointer;
    }
    
    #kakashi:hover {
        background: yellow;
    }
    
    #orochimaru {
        background: #099;
        cursor: pointer;
    }
    
    #orochimaru:hover {
        background: yellow;
    }
    
    #shino {
        background: #099;
        cursor: pointer;
    }
    
    #shino:hover {
        background: yellow;
    }
    
    #yamato {
        background: #099;
        cursor: pointer;
    }
    
    #yamato:hover {
        background: yellow;
    }
    
    #neji {
        background: #099;
        cursor: pointer;
    }
    
    #neji:hover {
        background: yellow;
    }
    
    #shikamaru {
        background: #099;
        cursor: pointer;
    }
    
    #shikamaru:hover {
        background: yellow;
    }
    
    .footer {
        width: 100%;
        height: 50px;
        text-align: center;
        font-family: Verdana;
        font-weight: bold;
        background: #787;
        color: #fff;
        top: 400px;
        position: relative;
    }
    
    .sidebar {
        width: 100%;
        height: 200px;
        position: relative;
        background: #A0522D;
    }
    
    .logo {
        width: 900px;
        height: 100%;
        margin: auto;
        background: #A0522D;
        position: relative;
    }
    
    .batalha {
        width: 800px;
        margin: auto;
        height: 100%;
        position: relative;
    }
    /*.container {
.imglogo{height: 100%}
.ninja1{
    width: 250px;
    height: 400px;
   
    position: absolute;
    left:0px;
}
.ninja2{
    width: 250px;
    height: 400px;

    position: absolute;
    left:600px;
    top:0px;
}
.vs{
    width: 250px;
    height: 400px;
  position: absolute;
    left:300px;
    top:0px;

}
.imgVs{
    height: 70%;
    width: 100%;
}
.imgNinja{
    width: 100%;
    height: 100%;
}
    margin-left: 500px;
    width: 900px;
    height: 900px;
    position: relative;
}

.lut {
    width: 100px;
    height: 200px;
    position: absolute;
    margin-top: 0px;
    cursor: pointer;
    margin-left: 0px;
}

.lut5 {
    margin-left: 500px
}

.tabeladelutadores {
    width: 1100px;
    height: 400px;
    position: absolute;
    margin-top: -863px;
    margin-left: 420px;
    border: 3px solid black;
}

header {
    border: 2px solid black;
    background-color: #A0522D;
    width: 100%;
}

#logo {
    margin-left: 15%;
}

#naruto1 {
    position: relative;
    top: 10px;
    left: 90px;
    border: 2px solid #fff;
    width: 110px;
    height: 175px;
    background-color: rgba(224, 224, 224, 0.2);
}

#naruto2 {
    position: absolute;
    top: 10px;
    left: 3px;
    padding: 0px;
    width: 100px;
    height: 150px;
}

#naruto3 {
    position: absolute;
    top: -30px;
    left: 30px;
    margin-top: 30px;
    padding: 0px;
}

#uchirra1 {
    position: relative;
    top: -168px;
    left: 285px;
    border: 2px solid #fff;
    width: 110px;
    height: 175px;
    background-color: rgba(224, 224, 224, 0.2);
}

#uchirra2 {
    position: absolute;
    top: 25px;
    left: 0px;
    padding: 3px;
    width: 100px;
    height: 150px;
}

#uchirra3 {
    position: absolute;
    top: -30px;
    left: 22px;
    margin-top: 30px;
    padding: 0px;
}

#sakura1 {
    position: relative;
    top: -348px;
    left: 485px;
    border: 2px solid #fff;
    width: 110px;
    height: 175px;
    background-color: rgba(224, 224, 224, 0.2);
}

#sakura2 {
    position: absolute;
    top: 10px;
    left: -45px;
    padding: 3px;
    width: 100px;
    height: 150px;
}

#sakura3 {
    position: absolute;
    top: -30px;
    left: 17px;
    margin-top: 30px;
    padding: 0px;
}

#niji1 {
    position: relative;
    top: -526px;
    left: 685px;
    border: 2px solid #fff;
    width: 110px;
    height: 175px;
    background-color: rgba(224, 224, 224, 0.2);
}

#niji2 {
    position: absolute;
    top: 16px;
    left: 3px;
    padding: 3px;
    width: 100px;
    height: 150px;
}

#niji3 {
    position: absolute;
    top: -30px;
    left: 43px;
    margin-top: 30px;
    padding: 0px;
}

#shiro1 {
    position: relative;
    top: -704px;
    left: 885px;
    border: 2px solid #fff;
    width: 110px;
    height: 175px;
    background-color: rgba(224, 224, 224, 0.2);
}

#shiro2 {
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 3px;
    width: 100px;
    height: 150px;
}

#shiro3 {
    position: absolute;
    top: -30px;
    left: 38px;
    margin-top: 30px;
    padding: 0px;
}

.foot {
    border: 2px solid black;
    background-color: #A0522D;
    width: 100%;
    height: 60px;
    color: white;
}

.pfoot {
    padding-top: 25px;
}*/
    
    .escolha {
        background-image: url('../img/pant.png');
        top: 0px;
        position: absolute;
        margin-left: -100px;
        border: 2px solid black;
        width: 1330px;
        height: 900px;
    }
    
    #vs {
        position: relative;
        top: 400px;
        left: 490px;
        width: 300px;
    }
    
    #lutador1 {
        position: absolute;
        margin-left: 0px;
        height: 500px;
    }
    
    #lutador2 {
        position: absolute;
        margin-left: 910px;
        height: 500px;
        width: 300px;
        left: 20px;
    }
    
    .descricao_lutador1 {
        position: absolute;
        width: 300px;
        height: 300px;
        background: rgba(255, 171, 82, 0.3);
        top: 500px;
        left: 50px;
    }
    
    .descricao_lutador2 {
        position: absolute;
        width: 300px;
        height: 300px;
        background: #fff;
        top: 500px;
        left: 900px;
    }
    
    .statusDaLuta {
        position: absolute;
        width: 450px;
        height: 50px;
        background: #fff;
        top: 600px;
        left: 400px;
    }